<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KumpulBackendEnvironment</key>
	<string>$(KUMPUL_BACKEND_ENVIRONMENT)</string>
	<key>KumpulBackendPublishableKey</key>
	<string>$(KUMPUL_BACKEND_PUBLISHABLE_KEY)</string>
	<key>KumpulBackendURL</key>
	<string>$(KUMPUL_BACKEND_URL)</string>
</dict>
</plist>
